<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/projects">Projects</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
      
      {{ content }}

		</div><!-- /.container -->
		<footer>
			<p><span style="text-decoration: underline;"><strong>Quick Links!</strong></span></p>
    		<ul>
        		<li><a href="mailto:kranetyt@gmail.com">Email me!</a></li>
        		<li><a href="https://www.youtube.com/channel/UCcm6b13SJgzMOjlx9SdeG0g">YouTube Channel</a></li>
			<li><a href="https://forms.gle/G6LfBDetGcCq4oMS8">NetherMC Staff Applications!</a></li>
                        <li><a href="https://www.nethermc.net">NetherMC Website</a></li>
			<li><a href="https://www.discord.com/invite/UYyneM8QeH">My Discord</a></li>
                </ul>
		</footer>
	</body>
</html>
